* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: 'monterrat';

}

@font-face {
	font-family: 'monterrat';
	src: url('./fonts/montserrat-variablefont_wght-webfont.woff') format('woff'),
		url('./fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2');
	font-weight: thin;
	font-style: normal;
}

@font-face {
	font-family: 'sprectral';
	src: url('./fonts/spectral-bolditalic-webfont.woff') format('woff'),
		url('./fonts/spectral-bolditalic-webfont.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
}

.container {
	display: flex;
	flex-direction: column;
}

.banner {
	background-image: url('./img/sakura-bg.jpeg');
	object-fit: cover;
	object-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vh;
	padding: 10rem 0;
}

.logo-container {
	background-color: rgba(0, 0, 0, .4);
	width:100%;
	margin: auto;
	padding: 1rem 3rem;
	

}

.logo-leaf svg {
	width: 2rem;
}

.logo-leaf path {
	fill: #fff;

}

.logo {
	color: #fff;
	font-size: 2rem;
	font-family: 'sprectral';
	display: flex;
	align-items: center;
	justify-content:space-around;
	width: 40%;
	max-width: 220px;
	margin: auto;
}

.main-top {
	background-color: rgb(245, 245, 245);
	font-size: 1.2rem;
	text-align: justify;
	padding: 3rem 2rem;
	line-height: 1.3;
}

.main-top, p:nth-child(3) {
	margin-top: 1.5rem;
	
}