* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	font-family: 'monterrat';

}

@font-face {
	font-family: 'monterrat';
	src: url('./fonts/montserrat-variablefont_wght-webfont.woff') format('woff'),
		url('./fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2');
	font-weight: thin;
	font-style: normal;
}

@font-face {
	font-family: 'sprectral';
	src: url('./fonts/spectral-bolditalic-webfont.woff') format('woff'),
		url('./fonts/spectral-bolditalic-webfont.woff2') format('woff2');
		font-weight: bold;
		font-style: italic;
}

.container {
	display: flex;
	flex-direction: column;
}

.banner {
	background-image: url('./img/sakura-bg.jpeg');
	object-fit: cover;
	object-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 40vh;
	padding: 10rem 0;
}

.logo-container {
	background-color: rgba(0, 0, 0, .4);
	width:100%;
	margin: auto;
	padding: 1rem 3rem;
	

}

.logo-leaf svg {
	width: 2rem;
}

.logo-leaf path {
	fill: #fff;

}

.logo {
	color: #fff;
	font-size: 1.5rem;
	font-family: 'sprectral';
	display: flex;
	align-items: center;
	justify-content:space-around;
	width: 40%;
	max-width: 220px;
	margin: auto;
}

.main-top {
	background-color: rgb(245, 245, 245);
	
}

.main-container {
	font-size: 1.2rem;
	text-align: justify;
	padding: 3rem 2rem;
	line-height: 1.3;
}

.main-top p:nth-child(3) {
	margin-top: 1.5rem;
	
}

.main-form {
	box-shadow: 0px 8px 10px rgba(125, 125, 125, 0.5);
}

.form-input-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0;
}

.form-input-container label {
	text-transform: uppercase;
}

.form-input-container input {
	padding: 1rem 1rem 1rem 3rem;
	font-size: 1rem;
}

.form-input-container input:invalid:not(:placeholder-shown) {
	background-color: pink;
}

.form-input-container input:invalid:not(:placeholder-shown) + .requirements {
	max-height: 200px;
    padding: 0 30px 20px 50px;
}



input {
	border: 1px solid #ccc;
	background-color: #eee;
}

input:focus {
	background-color: white;
	outline: 0;
}

input:not(:placeholder-shown):valid {

	 
		background: url('./img/check-circle.svg');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 20px 15px;
	
	

}

.requirements {
	padding: 0 30px 0 50px;
	color: #999;
	max-height: 0;
	transition: 0.28s;
	overflow: hidden;
	color: red;
	font-style: italic;
  }


